* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  background-color: gainsboro;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: white;
  height: 40%;
  width: 30%;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

button {
  width: 80%;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

#deposit {
  background-color: rgb(16, 208, 16);
}
#deposit:hover {
  background-color: rgb(23, 233, 23);
}

#withraw {
  background-color: red;
}
#withraw:hover {
  background-color: rgb(231, 27, 27);
}

p {
  font-size: 1.5em;
  color: rgb(16, 208, 16);
}
